.Counter {
  display: flex;
  flex-direction: row;
  margin: 8px;
}

.ListContainer {
  position: relative;
  overflow: hidden;
}

.StaticElement {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: inherit;
  font-weight: 100;
}
