.List {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 0;
  left: 0;
}

.List > li {
  font-size: inherit;
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
