.Controls {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.Controls > button {
  border-radius: 0;
  padding: 5px 12px;
  background-color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  border: 1px solid #7a7e80;
  color: #7a7e80;
}

.Controls > button:hover {
  border-color: #000;
  color: #000;
}

.Controls > button + button {
  margin-left: 15px;
}
